[Desktop Entry]
Encoding=UTF-8
Name=Link to Images from the Mandelbrot Set
Type=Link
URL=http://www.cuug.ab.ca/dewara/mandelbrot/images.html
Icon=text-html
